<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initail-scale=1"/>
    <link rel="stylesheet" href="../static/css/styles.css">
    <!-- Material+Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">
    <!-- M PLUS 1p -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100&display=swap" rel="stylesheet">

    <!-- タイトル -->
    <title>TAKUMU OOMATSU.com 2</title>
  </head>
  <body>

    <!-- ヘッダー -->

    <header>
        <div class="header-logo">
          <a href="https://takumuoomatsu-profile-site.herokuapp.com/" ><img src="../static/images/logo.png" alt="logo" ></a>
        </div>

        <!-- <div class="pc-menu">
          <nav>
            <ul>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Menu</a></li>
              <li><a href="#">Menu</a></li>
            </ul>
          </nav>
          </div> -->
        
        <!-- ハンバーガーメニュー -->
        <!-- <div class="sp-menu">
          <span class="material-icons" id="open">menu</span>
        </div> -->
    </header>


    <!-- <div class="overlay">
      <span class="material-icons" id="close">close</span>
      <nav>
        <ul>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Menu</a></li>
        </ul>
      </nav>
      </div> -->

    <!-- トップ -->
    <!-- <div class="all-container"> -->
      
      <div class="top-wrapper">
          <div class="top-logo">
            <h1>TAKUMU OOMATSU.com</h1>
          </div>
      </div>
      
      <!-- 解説 -->
      
      <div class="commentary">
          <p>このサイトでは「大松 拓武(オオマツ タクム)」のプロフィールを簡単に紹介していきたいと思います。</p>
        </div>
        
        <!-- 目次 -->
        
        <div class="toc">
            <h3>CONTENTS</h3>
            <ul>
              <li><a href="#from">生い立ち</a></li>
              <li><a href="#career">経歴</a></li>
              <li><a href="#like">趣味</a></li>
            </ul>
        </div>
        
        <div class="contents">

          <!-- 生い立ち -->
          <div id="from">
            <h3>生い立ち</h3>
            <p>
              1996年生まれ神奈川出身神奈川育ち。
              <br>
              <br>
              日本美容専門学校卒業後、表参道のサロンで美容師として5年間勤めた後、<br>
              25才から独学でWebの勉強を始めエンジニアとして活動（予定）
            </p>
          </div>
          
          <!-- 経歴 -->
          
          <div  id="career">
              <h3>スキル</h3>
              <p>
                -言語<br>
                 HTML<br>
                  CSS<br>
                  JavaScript<br>
                  Python<br>
                <br>
                -フレームワーク<br>
                Django<br>
                Flask
                <br>
              </p>
          </div>
          
          <!-- 趣味 -->
          
          <div id="like">
              <h3>趣味</h3>
              <p>
                マンガ<br>
                韓国ドラマ<br>
                映画鑑賞<br>
                動画鑑賞<br>
                (YouTube、アニメ)<br>
                筋トレ<br>
              </p>
          </div>
          
        </div>

          <!-- フッター -->
          
          <footer>
            <div class="container">
              <div class="footer-logo">
                <a href="https://takumuoomatsu-profile-site.herokuapp.com/">
                <img src="../static/images/logo.png" alt="logo">
              </a>
            </div>

            <div class="link">
              <ul>
                <li>
                  <a class="twitter" href="https://twitter.com/TakumuOomatsu">
                  <img src="../static/images/2021 Twitter logo - blue.png">
                </a>
              </li>

                <li>
                  <a class="instagram" href="https://www.instagram.com/takumu_oomatsu/">
                    <img src="../static/images/Instagram_Glyph_Gradient_RGB.png">
                  </a>
                </li>
              </ul>


              <!-- <a class="twitter" href="https://twitter.com/taku8311taku">
                <img src="images/2021 Twitter logo - blue.png">
              </a>
              
              <a class="instagram" href="https://www.instagram.com/takumu_omatsu/">
                <img src="images/Instagram_Glyph_Gradient_RGB.png">
              </a> -->
                
              </div>
            </div>
          </footer>

          <script src="../static/js/main.js"></script>
        </body>
        </html>